<% include header %>
    <p> This is what your poll will look like:
        <br>
        Press Save to save this poll.</p>
        <h1> <%= entries.displayQuestion %> </h1>
    <form method='post' action='/adminSaveNewPoll'>
        <% for(var i = 0; i < entries.pollOp.length; i++) { %>
            <input type='radio' name='vote' value=<%= entries.pollOp[i]%> > <%= entries.pollOp[i] %>
            <br>
        <% } %>
        <br>
        <input type='submit' value='Save'>
    </form>
<% include footer %>
