<% include adminHeader %>
    <% if (entries.allPolls.length > 0) { %>
        <h1> All Polls </h1>
        <% for (var i = 0; i < entries.allPolls.length; i++) { %>
            <form id='myForm' method='post' action='/adminPollActions'>
                <p> <%= entries.allPolls[i].title %> </p>
                <input hidden name='pollId' value='<%= entries.allPolls[i]._id %>' >
                <input hidden name='pollTitle' value='<%= entries.allPolls[i].title%>'>
                <input type='submit' value='View Results' name='viewPollResults'/>
                <input type='submit' value='Delete Poll' name='removePoll' onclick='confirmDelete(2)'/> 
               <!-- <input id='<%=`submit${i}`%>' type='button' name='removePoll' onclick='confirmDelete(this.id)' value='Delete Poll'/> -->
            </form>
        <% } %>
    <% } else { %>
        <p> There are no polls. Click on the 'New Poll' link to create a poll</p> 
    <% } %>
    <script>
        /*
        var confirmedDelete; 
        var confirmDelete = function(buttonId){
            var buttons = document.getElementsByName('removePoll');
            var docArr = document.getElementsByName('pollId');
            var pollTitles = document.getElementsByName('pollTitle');
            var indexOfDeleteButton = buttonId.charAt(buttonId.length -1);
            console.log(indexOfDeleteButton);
            console.log(buttons[indexOfDeleteButton].name, docArr[indexOfDeleteButton].value,
                pollTitles[indexOfDeleteButton].value
            );
            var confirmedDelete = confirm('Press "OK" if your sure you want to delete this poll');
            if(confirmedDelete){
                var removePoll = document.createElement('input');
                removePoll.name = 'removePoll';
                removePoll.value = 'Delete Poll';
                removePoll.type = 'hidden';
                var myForm = document.getElementById('myForm');
                myForm.appendChild(removePoll);
                myForm.submit();
            }
        };
        */
    </script>
<% include footer %>
