<% include adminHeader %>
    <% if (entries.allPolls.length > 0) { %>
        <h1> All Polls </h1>
        <% for (var i = 0; i < entries.allPolls.length; i++) { %>
            <form method='post' action='/adminPollActions'>
                <p> <%= entries.allPolls[i].title %> </p>
                <input hidden name='pollId' value= <%= entries.allPolls[i]._id %> >
                <input hidden name='pollTitle' value=<%= entries.allPolls[i].title %>>
                <input type='submit' value='Delete Poll' name='remove'/>
                <input type='submit' value='View Results' name='adminViewPoll'/>
            </form>
        <% } %>
    <% } else { %>
        <p> There are polls to vote on. To create a new poll click the admin
        <br> link above <p>
    <% } %>
<% include footer %>
