<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Vote</title>
        <a href='/'>Home</a>
        <a href='/admin'>Admin</a>
        <a href='/adminNewPoll'>New Poll</a>
    </head>
    <body class='container'> 
