<% include header %>
    <h1>Fill in the poll options</h1>
    <form method='post' action='/adminReviewPollOps'>
    <table>
    <% for(var i = 0; i < entries.numPollOps; i++) { %>
        <tr>
            <td> 
                <p> Poll Option <%= i + 1 %>: </p> 
            </td>
            <td>
                <input type='text' name='pollOp[]'>
            </td>
        </tr>
    <% } %>
    <br>
    </table>
    <input type='submit' name='submit'>
    </form>
<% include footer %>
