<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Express Guestbook</title>
    </head>
    <body class="container">
        <h1>
            Express Guestbook
            <a href="/new-entry">Write in the guestbook</a>
 </h1>
