<% include header %>
    <% if (entries.allPolls.length > 0) { %>
        <h1> Make Your Choice </h1>
        <% for (var i = 0; i < entries.allPolls.length; i++) { %>
            <form method='post' action='/viewPoll'>
                <p> <%= entries.allPolls[i].title %> </p>
                <input hidden name='pollId' value= <%= entries.allPolls[i]._id %> >
                <input type='submit' value='View Poll'>
            </form>
        <% } %>
    <% } else { %>
        <p> There are polls to vote on. To create a new poll click the admin
        <br> link above <p>
    <% } %>
<% include footer %>
