<% include header %>
    <% if (entries.allPolls.length > 0) { %>
        <h1>All Polls</h1>
        <% for (var i = 0; i < entries.allPolls.length; i++) { %>
            <form method='post' action='/viewPoll'>
                <p> <%= entries.allPolls[i].title %> </p>
                <input hidden name='pollId' value= <%= entries.allPolls[i]._id %> >
                <input type='submit' value='View Poll'>
            </form>
        <% } %>
    <% } else { %>
        <p>There are no polls to vote on at this time</p>
    <% } %>
<% include footer %>
